<aside class="aside">
    <div class="slaca">
        <p>SLACA 2019</p>
    </div>
    <img src="../../../assets/13Slaca.png" class="slacaImage">
    <ul class="options">
        <div>
            <li>Apresentação</li>
        </div>
        <div>
            <li>Comitês</li>
        </div>
        <div>
            <li>Autores</li>
        </div>
        <div>
            <li>Eixos temáticos</li>
        </div>
        <div id="trabalhos">
            <div></div>
            <li>Trabalhos</li>
        </div>
        <div>
            <li>Contato</li>
        </div>
    </ul>
</aside>
