<section class="start">
    <div class="part1">
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
        <div class="options">
            <div class="actions">
                <button class="download">
                    <img src="../../../assets/download.png">
                    <p>Download</p>
                </button>
                <button class="fav-doi">
                    <img src="../../../assets/favoritar.png">
                </button>
                <button class="fav-doi">
                    <img src="../../../assets//doi.png">
                </button>
            </div>
            <p id="howCite">COMO CITAR ESSE TRABALHO?</p>
        </div>
    </div>
    <div class="part2">
        <video class="videoPlayer" loop controls>
            <source src="../../../assets/ohchuva.mp4" type="video/mp4">
        </video>
        <aside class="details">
            <div class="section-title">
                <h3>Detalhes</h3>
            </div>
            <div class="limitDetails">
                <div class="informations">
                    <p>Tipo de Apresentação:<b>Pôster</b></p>
                    <p>Eixo temático:<b>Alimentação e saúde (AS)</b></p>
                    <p>Tipo de Apresentação:<b>Pôster</b></p>
                    <p>Palavras-chaves:<b>Alimentos funcionais, alimentação escolar.</b></p>
                </div>
                <div class="authors">
                    <h4>Autores:</h4>
                    <p>Galileo Galilei</p>
                    <p>Berta Lange de Morretes</p>
                    <p>Isaac Newton</p>
                    <p>Cesar Lattes</p>
                    <p>Stephen Hawking</p>
                </div>
                <div id="universities">
                    <p>Universidade Estadual de Campinas</p>
                    <p>Universidade de São Paulo</p>
                    <p>Instituto Nacional de Pesquisas Espaciais</p>
                    <p>Universidade Federal do Rio de Janeiro</p>
                </div>
            </div>
        </aside>
    </div>
</section>