<div class="create-topic" id="create-topic">
    <h4>Compartilhe suas ideias ou dúvidas com os autores!</h4>
    <div class="discussions-icons">
        <img src="../../../assets/discussions1.png">
        <img src="../../../assets/discussions2.png">
        <img src="../../../assets/discussions3.png">
    </div>
    <div>
        <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade?</p>
        <p>Deixe seus questionamentos ou sugestões para o autor!</p>
    </div>
    <div class="end-create-topic">
        <img class="divider" src="../../../assets/divisoria.png">
        <button class="btn-create-topic" (click)="newTopic()">
             <img src='../../../assets/icon-criar.png'>
             <p>criar tópico</p>
        </button>
        <img class="divider" src="../../../assets/divisoria.png">
    </div>
</div>