<aside class="answered-topic" id="{{id}}">
    <div class="topic">
        <div class="top-topic">
            <h4 class="ops-topic-subject">{{subject}}</h4>
            <h5>{{author}}</h5>
        </div>
        <div class="content-topic">
            <p>{{content}}</p>
        </div>
        <div class="topic-actions"> 
            <div id="more-information">
                <img  src="../../../assets/mais-informacoes.png">
            </div>
            <div class="heart" (click)="like()">
                <img src="../../../assets/heart.png">
            </div>
            <p>{{likes}} likes</p>
            <p id="comments" (click)="seeComments()">{{comments.length}} respostas</p>
        </div>
    </div>
    <div class="comments-container" *ngIf="viewComments">
        <ng-container *ngFor="let comment of comments">
            <app-topic-comment [user]="comment.user" [typeUser]="comment.typeUser" [content]="comment.content"></app-topic-comment>
        </ng-container>
    </div>
</aside>