<div class="fill-topic" id="fill-topic">
    <h5 class="fill-topic-title">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</h5>
   <form id="form" (submit)="createdTopic($event)">
       <div class="subject-container">
           <p>Assunto</p>
           <input class="subject" name="subject" type="text" placeholder="Defina um tópico sucinto para notificar os autores...">
      </div>
      <div class="fill-topic-content">
       <p>Conteúdo</p>
       <div class="container-filling">
           <textarea name="textarea"></textarea>
           <div class="div-button">
               <button class="button-send-topic" onsubmit>Enviar</button>
           </div>
       </div>
      </div>
   </form>
   <img class="divider" src="../../../assets/divisoria.png">
</div>