<footer>
    <img src="../../../assets/divisoria.png">
    <div class="footer">
        <div class="logo">
            <img src="../../../assets/galoa-logo.png">
            <div class="know-morer">
                <a href="https://galoa.com.br/eventos-cientificos/proceedings-e-anais-de-eventos/?utm_source=proceedings&utm_medium=footer&utm_campaign=SLACA%202019&utm_id=proceedings_footer" target="_blank">Saiba mais</a>
            </div>
        </div>
        <div class="text-footer">
            <p><span id="bold">Preservar a memória do evento e ampliar o acesso ao conhecimento científico</span> gerado em eventos é a razão de ser da plataforma Galoá Proceedings</p>
            <p>Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para toda a comunidade científica, mantendo aceso o debate científico fomentado pelos encontros e aumentando o impanto do evento</p>
        </div>
    </div>
</footer>