<section class="discussions">
    <div class="section-title">
       <h3>Discussões</h3> 
    </div>
    <div class="discussions-content">
        <app-create-topic *ngIf="renderCreateTopic" class="app-create-topic" (alert)="onComponentFillTopic()"></app-create-topic>
        <app-fill-topic *ngIf="renderFillTopic" class="app-fill-topic" (topic)="onRenderNewTopic($event)" ></app-fill-topic>
        <app-topic-created *ngIf="renderTopicCreated" class="app-topic-created" (alert)="onComponentFillTopic()"></app-topic-created>
        <div class="app-card-topic" id="app-card-topic">
            <ng-container *ngFor="let card of topicCards">
                <app-card-topic-overlay [id]="card.id" [subject]="card.subject" [content]="card.content"></app-card-topic-overlay>
            </ng-container>
            <app-card-topic [id]="'9999'" [subject]="'Assunto da pergunta aparece aqui'" [content]="'Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo?'"></app-card-topic>
        </div>
    </div>
</section>